

{%  set path = path('<current>') %}

<div class="left_profile_menu">
<ul>
<li class="orders {%  if path=="/my-orders" %}  active {% endif %}"><a href="/my-orders"><img src="/{{ directory }}/images/icons/basket_icon.png" alt="{{ site_name }}">My Orders</a></li>

<li class="documents {%  if path=="/documents" or path=="/my-documents"  or path=="/my-samples"%}  active {% endif %}"><a href="/documents"><img src="/{{ directory }}/images/icons/Documents.png" alt="{{ site_name }}">Documents <img class="doc_arrow" src="/{{ directory }}/images/icons/arrow_down_light.png" alt="{{ site_name }}"></a></li>

<div class="second_nav  {%  if path!="/documents" and path!="/my-documents"  and path!="/my-samples"%}  hidden {% endif %}">

<p class=" {%  if path=="/my-documents" %}  active_submenu {% endif %}" ><a href="/my-documents"><img src="/{{ directory }}/images/icons/Documents.png" alt="{{ site_name }}">My documents</a></p>
<p class=" {%  if path=="/my-samples" %}  active_submenu {% endif %}" ><a href="/my-samples"><img src="/{{ directory }}/images/icons/Documents.png" alt="{{ site_name }}">My samples</a></p>

</div>

<li class="account {%  if path=="/user" %}  active {% endif %}"><a href="/user"><img src="/{{ directory }}/images/icons/My-account.png" alt="{{ site_name }}">My Account</a></li>
</ul>
</div>







