{#
/**
 * @file
 * Default theme implementation to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 *
 * @ingroup themeable
 */
#}

{% set user2 = bamboo_load_currentuser() %}





<div {{ attributes }}>
       <a href="/user/{{ user2.uid.value }}"><img src="/{{ directory }}/images/assets/header_logo.png" alt="{{ site_name }}"> </a><h3>Welcome, <span id="user_name" style="text-transform: capitalize;"> {{ user.displayname }}</span></h3>


<div class="right_header">
<form method="get" action="/search/content">

	<div style="position:relative;"> 
<input type="" name="keys" style="height:43px;width:230px;    padding-left: 15px;">
<input class="submit_img" type="image" src="/{{ directory }}/images/icons/search.png" alt="Submit Form" />
</div>
</form>
<div class="round_icon"><img src="/{{ directory }}/images/icons/bell_icon.png" alt="{{ site_name }}"></div>
<div class="round_icon"><img class="profile_img" width="85" src="{{ file_url(user2.user_picture.entity.uri.value) }}"></div>
<div class="round_icon"><a href="/user/logout"><img src="/{{ directory }}/images/icons/exit_icon.png" alt="{{ site_name }}"></a></div>
</div>


</div>




<style type="text/css">

#block-headertopbar
{
display: flex;

}



.right_header
{
    margin-left: auto;
    display: flex;
        align-items: center;
}


.round_icon
{
    height: 43px;
    width: 43px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 10px 0 rgb(0 0 0 / 12%);
    border-radius: 50px;
    display: flex;
    align-items: center;
    align-content: center;
    align-self: center;
    justify-content: center;
    justify-self: center;
    justify-items: center;
    margin-left:20px;
}



.round_icon img
{
width:20px;
}



.round_icon .profile_img
{
	    width: 100%;
    object-fit: cover;
    border-radius: 25px;
}




.right_header input {

  border-radius: 21.5px;
  background-color: #ECF1F8;
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.14);
      border: 0px;
}



.submit_img
{
	position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    padding: 10px;
        background: transparent!important;
    background-color: transparent!important;
    box-shadow: none!important;
}




</style>



